/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.container.bg-black {
    width: 100%; /* Set the width to 100% */
}
 
body {
   
    background-image: linear-gradient(to right bottom, #800000, #6b000e, #550514, #3e0a15, #270b11, #1e080d, #130407, #000000, #000000, #000000, #000000, #000000);
    background-size: cover;
    color:white;
    height: 80vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat
}