* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* body  {
    padding: 100px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  } */
  
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .card {
    display: inline-block;
    width: 200px;
    border-radius: 4px;
    padding: 16px;
    overflow: hidden;
    background-color:  white;
    transition: background-color 0.4s;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  .card:hover {
    background-color: #e4e1e1;
  }
  
  .cover {
    position: relative;
    margin-bottom: 18px;
    margin-left: 9px;
  }
  .cover img {
    display: block;
    width: 92%;
    box-shadow: 0 8px 20px -4px hsl(0, 0%, 5%);
  }
  .cover.artist img {
    border-radius: 50%;
  }
  
  .play-icon {
    position: absolute;
    bottom: 0px;
    right: 52px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    color: #fafafa;
    background-color: #1db954;
    box-shadow: 0 4px 16px -4px #121212;
    opacity: 0;
    transition: 0.4s, transform 0.1s;
  }
  .play-icon:hover {
    transform: scale(1.1);
  }
  .card:hover .play-icon {
    bottom: 6px;
    opacity: 1;
  }
  
  .fa-play {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 52%;
    top: 50%;
    font-size: 1rem;
  }
  
  .card-content {
    font-family: "Montserrat", sans-serif;
    color:black;
    font-weight:bolder;
  }
  .card-content span {
    margin-bottom: 6px;
  }
  .card-content p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 2.5em;
    font-size: 14px;
    color: hsl(0, 0%, 70%);
  }
  