@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
:root {
    --ig-separator: 219, 219, 219;
  }
  
  body {
    
    color: red;
    text-align: center;
    font-family: "Audiowide", sans-serif;
  }
  
  .sidebar {
    width: 10%;
    /* background-color: #8f8b8b9a; */
    /* mix-blend-mode:normal; */
    padding-top: 35px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    /* border-right: 1px solid rgb(var(--ig-separator)); */
    display: flex;
    flex-direction: column;
    font-family:  "Audiowide", sans-serif;
  }
  
  /* .logo-wrapper {
    width: 100%;
    padding: 5px 25px;
    margin-bottom: 20px;
  } */
  
  /* .logo-wrapper img {
    width: 105px;
  } */
  
  .sidebar-menu {
    /* font-size: 3rem; */
    list-style-type: none;
    padding: 0 12px 20px 8px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
  }
  
  .sidebar-menu.bottom {
    flex-grow: 0;
    margin-bottom: 40px;
  }
  
  .sidebar-menu li :not(.logo) {
    /*margin-bottom: 10px;*/
    text-orientation: sideways-right; 
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  
  .sidebar-menu li a.nav-link { /* This is the class that is being used in the SideNav.js file FONTCOLOR*/
    border-radius: 10px;
    padding: 36% 15px;
    font-size:larger;
    color: #fffbfb;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  /* .sidebar-menu li a.nav-link.active {
    font-weight: bold;
    transform: scale(1.08);
    background-color: #e4e1e1;
    margin: 9px;
  } */
  
  /* .sidebar-menu li a.nav-link.active img.icon {
    color: 2px solid black;
  } */
  
  /* .sidebar-menu li a.nav-link .icon {
    margin-right: 15px;
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
  } */
  
  .sidebar-menu li a.nav-link:hover {
    background-color: black;
    color:red;
    transition: 1s;
  }

  .sidebar-menu li a.nav-link active {
    color:red
  }

  .nav-link.active {
    color: red!important;
  }
  
  .sidebar-menu li a.nav-link:hover .icon {
    transform: scale(1.08);
  }
  
  /* .rounded-circle {
    border-radius: 100%;
  } */
  